form(method="post" action="/meetingdashboard")
    table 
        tr
            td Meeting Title 
            td 
                input(type="text" name="meetingtitle")
        tr 
            td Frequency 
            td 
                input(type="text" name="frequency")
        tr 
            td Duration 
            td 
                input(type="password" name="duration")
        tr 
            td
            td
                input(type="submit" value="Submit")