tr 
	th Date: 
	td 
		input(type="text" required class="date-picker" onchange="onChageDate(event)" id="date" name="date")  
tr
	th Day: 
	td 
		input(type="text" required readonly id="day" name="day")
tr
	th Time Start: 
	td 
		input(type="text" required id="timeStart" name="day" placeholder="hh:mm A")
tr
	th Time End: 
	td 
		input(type="text" required id="timeEnd" name="day" placeholder="hh:mm A")