extends layout
append links 
    li(style="float: right;")
        a(href="/user/logout") Logout 
block content
    h2.h2-style Meeting Dashboard  
    form(method="post" action='/meeting/create')
        fieldset.back-color
            legend Meeting Information
            table.set-padding 
                tr
                    th Meeting ID: 
                    td 
                        input(type="text" readonly name="meetingId")
                tr 
                    th Invitee(s): 
                    td 
                        input(type="text" name="invitees")
                tr
                    th Length: 
                    td 
                        input(type="number" name="meetingLength")
                tr 
                    th Duration: 
                    td 
                        input(type="number" name="duration")  
                tr
                    th Frequency: 
                    td 
                        input(type="number" name="frequency")             
                tr 
                    td
                    td
                        input(type="submit" value="Submit")
    script.
        let inviteesIpt = document.querySelector("[name='invitees']");
        inviteesIpt.addEventListener('focusout', (e) => {
            e.target.value = e.target.value.replace(/,$/, "");
        })
        inviteesIpt.addEventListener('keyup', (e)=>{
            let iptVal = e.target.value;
            if(/\ /.test(iptVal)){
                e.target.value = iptVal.replace(/\ /, "");
                alert("you can't add spaces in Invitee(s) input")
            }
            if(/,{2,}/.test(iptVal)){
                e.target.value = iptVal.replace(/,{2,}/, ",");
                alert("you can not add empty Invitee")
            }
        })