extends layout

mixin message(opp, name)
    if(opp)
        h1.greeting Logged in as 
            span=name 
    else 
        h1.greeting Welcome 
            span=name 
            |  to Calendar Slot


append links 
    li
        a(href="/user/logout") Logout 

block content
    .dashboard 
        .user 
            +message(opp, name)
            div.set-margin
               a.button-style(href="/meeting/create") Create Meeting
            div.set-margin2
               a.button-style(href="/meeting/show/to-join") Join Meeting
            div.set-margin2
               a.button-style(href="/meeting/show") Check Your Meetings