extends layout
append links 
    li(style="float: right;")
        a(href="/loggout") Loggout 
block content
    h2.h2-style Meeting Dashboard
        fieldset.back-color
            div.set-margin
               a.button-style(href="/as-admin") As Admin
            div.set-margin2
               a.button-style(href="/as-invitee") As Invitee

               


