extends layout
append links 
    li
        a(href="/user/logout") Logout 
block content
    h2.h2-style Meeting Dashboard
        fieldset.back-color
            div.set-margin
               a.button-style(href="/meeting/show/as-admin") As Admin
            div.set-margin2
               a.button-style(href="/meeting/show/as-invitee") As Invitee

               


