extends layout
append links 
    li
        a(href="/user/logout") Logout 
block content
    h2.h2-style Meeting Slot Page
    form#form-data-id(onsubmit="updateSlot(event)")
        fieldset.back-color
            legend
            table.set-padding 
                tr 
                    th Meeting Id: 
                    td
                        input(type="text" required value=slot.meetingID readonly id="meetingID" name="meetingID")
                        input(type="hidden" required value=slot.slotId readonly id="slotId" name="slotId")
                include includes/slot-form-commons
                tr
                    td
                    td
                        input(type="submit" value="Add Slot")
                        button.back(type="button" onclick="checkBestSlot(event)") Check Best Slot
                div#table.allocated
            h3#mess Above Slots are Suitable for Meeting
    script(src="/js/slot-form.js")